.forget-password .forget-container {
  margin-top: 100px;
}
@media (min-width: 1200px) {
  .forget-password .forget-container {
    transform: translateX(90px);
  }
}
.forget-password .forget-container .forget-header {
  text-align: center;
  font-size: 60px;
}
@media (min-width: 1200px) {
  .forget-password .forget-container .forget-header {
    margin-right: 150px;
  }
}
.forget-password .forget-container p {
  text-align: center;
  margin-top: 50px;
  font-size: 25px;
  max-width: 605px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1200px) {
  .forget-password .forget-container p {
    transform: translateX(-95px);
  }
}
.forget-container .forget-form {
  display: flex;
  flex-direction: column;
  margin-right: 0;
  margin-top: 150px;
  margin-left: 30px;
}
@media (min-width: 991px) {
  .forget-container .forget-form {
    margin-left: 150px;
  }
}
.forget-form .forget-label {
  font-size: 20px;
  font-weight: bold;
}
.forget-form .forget-input {
  width: 600px;
  border: 1px solid;
  padding: 10px;
  margin-top: 20px;
}
.forget-form button {
  background-color: #264372;
  color: white;
  width: 600px;
  display: flex;
  justify-content: center;
  height: 50px;
  align-items: center;
  margin-top: 20px;
}
.forget-form .disabled {
  pointer-events: none;
}
.forget-form .back {
  color: #2196f3;
  text-decoration: underline;
  margin-top: 20px;
  transition: 0.3s;
  cursor: pointer;
}
.forget-form .back:hover {
  color: #1787e0;
}
