.login {
  margin-top: 250px;
  display: flex;
}
@media (max-width: 767px) {
  .login h2 {
    text-align: center;
  }
  .login label {
    text-align: center;
  }
  .login input {
    text-align: center;
  }
  .login input::placeholder {
    text-align: center;
  }
  .login .forget {
    margin-right: auto;
  }
  .login .sign {
    text-align: center;
  }
}
