.register {
  margin-top: 50px;
  margin-bottom: 70px;
  display: flex !important;
}
.radio-container {
  display: flex;
  margin-left: 20px;
  gap: 5px;
}
.register form {
  display: flex;
  flex-direction: column;
  margin-right: 70px;
}
@media (max-width: 991px) {
  .register form {
    margin-right: 40px;
  }
}
@media (max-width: 767px) {
  .register form {
    width: 100%;
  }
}
.register form h2 {
  color: #2196f3;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 30px;
}
.register form .forget {
  margin-left: auto;
  color: #1787e0;
  text-decoration: underline;
  letter-spacing: 1px;
  margin-top: 5px;
  transition: 0.3s;
  cursor: pointer;
}
.register form .forget:hover {
  color: #2196f3;
}
.register form .regular-input:not(last-of-type) {
  margin-bottom: 20px;
}

.radio-container label {
  margin-right: 58px;
  font-size: 20px;
  position: relative;
  cursor: pointer;
}
.radio-container input {
  --webkit-appearance: none;
  appearance: none;
}
.radio-container label::before {
  content: "";
  position: absolute;
  cursor: pointer;
  width: 18px;
  height: 18px;
  border: 2px solid #888;
  top: 6px;

  left: -25px;
}
.radio-container label:hover::before {
  border-color: #1787ec;
}
.radio-container label .icon {
  transform: scale(0) rotate(360deg);
  position: absolute;
  position: absolute;
  top: 5px;
  left: -25px;
  font-size: 13px;
  height: 19px;
  width: 18px;
  background-color: #1787ec;
  color: white;
  transition: 0.3s;
}
.radio-container input[type="radio"]:checked + label .icon {
  transform: scale(1);
}
.register img {
  margin-top: 35px !important;
}
@media (max-width: 991px) {
  .register img {
    margin-top: 170px !important;
  }
}
@media (max-width: 1199px) {
  .register img {
    margin-top: 170px !important;
  }
}
.register input[type="file"] {
  display: none;
}
.register label[for="file"] {
  background-color: #eee;
  width: 200px;
  padding: 20px;
  text-align: center;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 20px;
  cursor: pointer;
  margin-top: -50px;
  display: block;
  transition: 0.3s;
  opacity: 0;
  pointer-events: none;
}
.register .visible {
  opacity: 1 !important;
  margin-top: 30px !important;
  pointer-events: auto !important;
}
.register button {
  transition: 0.3s;
}
.regular-input {
  padding: 15px 10px !important;
  background-color: #eee;
  outline: none;
  width: 450px;
}
@media (max-width: 767px) {
  .regular-input {
    width: 100% !important;
  }
}
.regular-input:focus::placeholder {
  opacity: 0;
}
