.steps {
}
.steps-container {
  background-color: #f4f6fa;
}
.steps-container .container {
  padding-top: 60px;
  padding-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
