.aaa {
  background-color: #313131;
  color: #b9b9b9;
  width: 50px;
  height: 50px;
  display: inline-block;
  transition: 0.3s;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.lilili {
  margin-right: 10px;
}
