.spikes {
  position: relative;
}
.spikes::after {
  content: "";
  position: absolute;
  height: 30px;
  background-image: linear-gradient(135deg, white 25%, transparent 25%),
    linear-gradient(225deg, white 25%, transparent 25%);
  width: 100%;
  right: 0;
  z-index: 1;
  background-size: 30px 30px;
}
