.spinner-container {
  display: flex;
  align-items: center;
}
.spinner-container .spinner {
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-left-color: #333;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.spinner-container .submitting {
  font-size: 15px;
  text-decoration: none;
  margin-left: 10px;
  margin-top: -4px;
}
